@import 'leaflet/dist/leaflet.css';

/* .fc { font-family: inherit; font-size: 12px; }
.fc-event { border-radius: 4px; border: none; font-size: 11px; }
.fc-timegrid-slot { height: 2rem; } */

div.hero {
    text-align: center;
    padding: 10px;
}

div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.flex-container > div {
    width: 100%;
    height: calc(100vh - 150px);
}