@import 'leaflet/dist/leaflet.css';

*, *::before, *::after { box-sizing: border-box; }

div.header {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin-bottom: 5px;
}

div.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.flex-container > div {
    height: calc(100vh - 150px);
}

div.map {
    flex: 2;
}

div.shortlist {
    border: 1px solid black;
    flex: 1;
    margin-right: 10px;
}
div.short-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

div.short-card:hover {
    background-color: rgba(132, 132, 132, 0.488);
}

/* evenly space itinerary calendar header content */
.fc-col-header-cell-cushion {
    display: block;
    width: 100%;
}

.itinerary {
    border: 1px solid black;
    /* padding: 10px; */
    margin-left: 10px;
    flex: 1;
    overflow: hidden;
}